@import '../../../Css/global.scss';

.bgTexto{
  display: flex;
  justify-content: center;

  p{
    margin: 50px;
    font-family: $fonte-1;
  }

}

.corAprovado{
  strong{ 
    color: $cor-verde;
  }
}