@import '../../Css/global.scss'; 

/* container em que configura a posição do modal */
.bgModal {
  height: 100vh;
  width: 100%;
  background: $cor-background;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; /* pra ficar na frente de tudo */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* background do modal */
.modal {
  background: white;
  min-width: 30%;
  position: relative;
  animation: modal 0.3s forwards;


  p {
    font-family: $fonte-1;
    display: flex;
    font-weight: bold;
    background: $cor-principal ;
    height: 80px;
    top: 0;
    align-items: center;
    padding-left: 20px;
    color: $cor-branca
  }

  button[type="submit"] {
    display: block;
    background: $cor-principal;
    border: none;
    border-radius: 4px;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    color: $cor-branca;
    font-family: $fonte-1;
    font-weight: bold;
  }

  strong{
    color: $cor-amarela;
    padding-left: 5px;
  }
}

// estilização do input que coloca o valor
.bgInput {
  display: flex;
  justify-content: center;

  input{
  margin-top: 20px;
  width: 70%;
  padding: 0.7rem 0.5rem;
  box-sizing: border-box; /* pra não estourar o container */
   border: 1px solid $cor-botao;
   border-radius: 4px;
   outline: none;
  
  }
 
}

// estilização do select dos cartões
.bgSelect{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
   select{
    width: 40%;
    padding: 0.7rem 2rem;
    border: 1px solid $cor-botao;
    border-radius: 4px;
    outline: none;
   }
}


// estilização do botão de pagar
.botaoPagar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  button{
    width: 50%;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;

    &:hover{
      background: lighten($color: $cor-principal, $amount: 7);
    }
  }
}

/* estilização do botão de fechar */
.fechar {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* faz o item virar um circulo */
  border: 4px solid white;
  top: -30px;
  right: -30px;
  position: absolute;
  background: $cor-fechar;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  cursor: pointer;
  transition: 0.5s;

  // criando o X do fechar
  &:before,
  &:after{
    content: '';
    position: absolute;
    width: 2.5px;
    height: 24px;
    background-color: $cor-branca;
    top: 25%;
    left: 45%;
  }

  &:before{
    transform: rotate(45deg);
  }
  &:after{
    transform: rotate(-45deg);
  }

  // hover do botão de fechar
  &:hover{
    background: darken($color: $cor-fechar, $amount: 7) ;
  }
}

/* animação */
@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


